### WeatherPy

In [34]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

### Generate Cities List

In [35]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

649

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [37]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "standard"
# Just for testing use limited cities
cities = [ "London", "Paris", "New York", "Castro", "Bumblebazooooooooz"]
# Build query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

# Set up lists to hold reponse info
temp = []
humidity = []
clouds = []
wind = []
date = []
#cityid = []
country = []
newcity = []
newlat = []
newlng = []
count = 1
# city  = "butaritari"
# Loop through the list of cities and perform a request for data on each
for city in cities:
    try:
        response = requests.get(query_url + city).json()
        temp.append(response['main']['temp_max'])
        humidity.append(response['main']['humidity'])
        clouds.append(response['clouds']['all'])
        wind.append(response['wind']['speed'])
        date.append(response['dt'])
        country.append(response['sys']['country'])
        #cityid.append(count)
        newcity.append(city)
        newlat.append(response['coord']['lat'])
        newlng.append(response['coord']['lon'])
        print(f'Processing Record {count}: | {city}')
        count += 1
    except:
        print(f'The city cannot be processed')
        pass

Processing Record 1: | London
Processing Record 2: | Paris
Processing Record 3: | New York
Processing Record 4: | Castro
The city cannot be processed

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [45]:
# Create DataFrame
WeatherData = pd.DataFrame({"City": newcity,
                          "Cloudiness": clouds,
                          "Country": country,
                          "Date": date,
                          "Humidity": humidity,
                          "Lat": newlat,
                          "Lng": newlng,
                          "Max_Temp": temp,
                          "Wind Speed": wind})

#Export as CSV
WeatherData.to_csv(output_data_file)

# Display DataFrame
WeatherData

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind Speed
0,London,92,GB,1608064664,94,51.51,-0.13,282.04,3.11
1,Paris,20,FR,1608064659,93,48.85,2.35,281.48,2.10
2,New York,1,US,1608064883,38,40.71,-74.01,278.15,4.10
3,Castro,1,BR,1608064940,85,-24.79,-50.01,295.13,2.91

In [47]:
WeatherData.describe()

,Cloudiness,Date,Humidity,Lat,Lng,Max_Temp,Wind Speed
count,4.000000,4.000000e+00,4.00000,4.000000,4.000000,4.000000,4.000000
mean,28.500000,1.608065e+09,77.50000,29.070000,-30.450000,284.200000,3.055000
std,43.270467,1.462156e+02,26.63957,36.199407,37.750098,7.486241,0.822212
min,1.000000,1.608065e+09,38.00000,-24.790000,-74.010000,278.150000,2.100000
25%,1.000000,1.608065e+09,73.25000,24.335000,-56.010000,280.647500,2.707500
50%,10.500000,1.608065e+09,89.00000,44.780000,-25.070000,281.760000,3.010000
75%,38.000000,1.608065e+09,93.25000,49.515000,0.490000,285.312500,3.357500
max,92.000000,1.608065e+09,94.00000,51.510000,2.350000,295.130000,4.100000

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.